<!DOCTYPE html>

<html>
  <head>
    <title>Jovian Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

  </head>
  
  <body>

    <div class="container">

      <h1 class="text-center mt-2 mb-4"> {{company_name}} Careers</h1>
      <img id = "banner" class="img-fluid" src = "https://e656bdb4-915a-4941-8ca4-412d389394bf-00-5qi6nzhyv2na.janeway.replit.dev/static/banner2.jpeg">

      <h2 class="text-center mt-2 mb-4">About Jovian</h2>

      <p class = "lead">
        At Jovian, we’re pioneering the future of interstellar data solutions—turning cosmic insights into actionable intelligence for a connected universe. Founded in 2022 by a team of astrophysicists, AI engineers, and visionary entrepreneurs, Jovian bridges the gap between cutting-edge space technology and everyday innovation.<br><br>

        Our mission is simple: Democratize access to the stars. We develop intuitive platforms that harness satellite data, machine learning, and quantum-inspired algorithms to solve real-world challenges—from climate prediction and urban planning to personalized education and beyond.<br><br>


        With headquarters in the heart of Silicon Valley and remote teams spanning four continents, Jovian fosters a culture of curiosity, collaboration, and bold thinking. We believe the next breakthrough doesn’t come from working harder—it comes from exploring further.<br><br>

        Join us. Let’s build the tools that will define tomorrow, today.
      </p>

      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
        {% include "jobitem.html" %}
          
        {% endfor %}
      </div>

      <div class="text-center">
        <button class= "btn btn-primary btn-lg">Contact Us</button>

        <p class = "mt-4"> Copyright 2022, Jovian</p>
      </div>
      
    </div>


  </body>


  
</html>